<h2><%= @exam.name %> - <%= @participation.user.name %></h2>

<%= form_for @participation do |f| %>
  <div class="attention-required"><ul>
    <% @participation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul></div>

  <% if can_submit_exam? %>
  <p>
    <%= f.label :answers %>
    <%= f.file_field :answers %>
  </p>
  <% end %>

  <% if can_edit_exam? %>
  <p>
    <%= f.label :results %>
    <%= f.file_field :results %>
  </p>
  <% end %>

  <p><%= f.submit "Submit" %></p>
<% end %>
