<h2>New Exam</h2>

<%= form_for @exam do |f| %>
  <fieldset> 
    <%= f.label :name %>
    <%= f.text_field :name %> <br />

    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :start_year => Time.now.year %> <br />

    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :start_year => Time.now.year  %> <br />

    <%= f.label :locked %>
    <%= f.check_box :locked %> <br />

    <%= f.file_field :data %> <br />

    <% @users.each do |u| %>
      <%= label_tag "user[#{u.id}]", u.name %>
      <%= check_box_tag "user[#{u.id}]", true, true %><br />
    <% end %>

    <%= f.submit %>
  <fieldset>
<% end %>
