<h2>Create new exam</h2>

<%= form_for(@exam) do |f| %>
  <fieldset>
    <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

    <p><%= f.label :name %>
    <%= f.text_field :name %></p>

    <p><%= f.label :start_time %>
    <%= f.datetime_select :start_time %></p>
    <p><%= f.label :end_time %>
    <%= f.datetime_select :end_time %></p>

    <p><%= f.label :data %>
    <%= f.file_field :data %></p>

    <p><%= f.submit %></p>
  </fieldset>
<% end %>
