<h2>New Exam</h2>

<%= form_for @exam do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>

  <%= f.label :end_time %>
  <%= f.datetime_select :end_time %>

  <%= f.label :locked %>
  <%= f.check_box :locked %>

  <%= f.file_field :data %>

  <% @users.each do |u| %>
    <%= label_tag "user[#{u.id}]", u.name %>
    <%= check_box_tag "user[#{u.id}]", true, true %><br />
  <% end %>

  <%= f.submit %>
<% end %>
