<h2>New Exam</h2>

<%= form_for @exam do |f| %>
  <fieldset> 
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time, :start_year => Time.now.year %>
    </div>

    <div class="field">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, :start_year => Time.now.year  %>
    </div>

    <div class="field">
      <%= f.label :locked %>
      <%= f.check_box :locked %>
    </div>

    <div class="field">
      <%= f.file_field :data %>
    </div>

    <div class="field">
      <% @users.each do |u| %>
        <%= label_tag "user[#{u.id}]", u.name %>
        <%= check_box_tag "user[#{u.id}]", true, true %><br />
      <% end %>
    </div>

    <%= f.submit %>
  <fieldset>
<% end %>
