<h2><%= @exam.name %></h2>

<dl>
  <dt>Professor</dt>
  <dd><%= @exam.user.name %></dd>
  <dt>Start</dt><dd><%= @exam.start_time %></dd>
  <dt>End</dt><dd><%= @exam.end_time %></dd>

  <% if can_edit_exam? || @exam.in_progress? %>
  <dt>Download exam</dt>
  <dd><%= link_to @exam.data_file_name, download_exam_path(@exam) %></dd>
  <% end %>

  <% if can_edit_exam? %>
  <dt>Participants (<%= link_to "edit", edit_users_exam_path(@exam) %>)</dt>
  <dd>
  <% if @exam.participations.empty? %>
    No participants yet, please add some!
  <% else %>
    <ul><% @exam.participations.each do |p| %>
      <li><%= link_to p.user.name, p %></li>
    <% end %></ul>
  </dd>
  <% end %>
  <% end %>
</dl>

<% if @exam.locked? && can_edit_exam? %>
<div class="attention-required">
  <p>
    This exam is currently locked. Please enter the keyphrase to unlock it
    before the start of the exam.
  </p>
  <%= form_for @exam, :url => unlock_exam_path(@exam) do |f| %>
    <p>
      <%= label_tag "Keyphrase:" %>
      <%= password_field_tag "password" %>
      <%= f.submit "Unlock" %>
    </p>
  <% end %>
</div>
<% end %>

<% if @exam.participant? current_user %>
<p><%= link_to "View participation", @participation %></p>
<% end %>
