<h2><%= @exam.name %></h2>
<%= link_to "Exam data",  @exam.data.url %> <br />

Participants:
<ul>
<% @exam.participations.each do |p| %>
  <li><%= p.user.name %></li>
<% end %>
</ul>
Start <%= @exam.start_time %> <br />
End <%= @exam.end_time %> <br />
