<h2><%= @exam.name %></h2>
<%= link_to "Exam data",  @exam.data.url %> <br>

<p>Participants:</p>
<% if @exam.participations.empty? %>
  <p>No participants yet, please add some!</p>
<% else %>
  <ul>
    <% @exam.participations.each do |p| %>
      <li><%= p.user.name %></li>
    <% end %>
  </ul>
<% end %>

<% if can_edit_exam? %>
  <%= link_to "Edit participants", edit_users_exam_path(@exam) %><br>
<% end %>

<p>Locked: <%= @exam.locked? %></p>

<p>
  Start: <%= @exam.start_time %> <br>
  End: <%= @exam.end_time %>
</p>

<% if can_edit_exam? %>
  <%= link_to "Download answers", download_answers_exam_path(@exam) %>
<% else %>
  <%= link_to "Upload answers", upload_answers_exam_path(@exam) %>
<% end %>
