<h2><%= @exam.name %></h2>
<%= link_to "Exam data",  @exam.data.url %> <br />

Participants:
<ul>
<% @exam.participations.each do |p| %>
  <li><%= p.user.name %></li>
<% end %>
</ul>

<%= link_to "Add participants", add_users_exam_path(@exam) %> <br />

Locked: <%= @exam.locked? %> <br />
Start <%= @exam.start_time %> <br />
End <%= @exam.end_time %> <br />

<%= link_to "Upload answers", upload_answers_exam_path(@exam) unless current_user_created? %>
<%= link_to "Download answers", download_answers_exam_path(@exam) if current_user_created? %>
