<h2>Unlock <%= @exam.name %></h2>
<%= form_for @exam, :url => unlock_exam_path(@exam) do |f| %>
  <div class="attention-required"><ul>
    <% @exam.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul></div>

  <p>
    <%= label_tag "Keyphrase:" %>
    <%= password_field_tag "password" %>
  </p>

  <p><%= f.submit "Unlock" %></p>
<% end %>
