<!DOCTYPE html>
<html>
<head>
  <title>Secure Exam eXchange</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "Secure Exam eXchange", root_url %></h1>
  <div id="content">
    <% if logged_in? %>
    <div class="current-user">
      Logged in as <%= current_user.name %>. <%= link_to "Log out", cas_logout_path %>
    </div>
    <% end %>
    <%= yield %>
  </div>
  <footer>
    <p>Application by Pieter De Baets, Gilles Jacobs, Jasper Van der Jeugt and Toon Willems</p>
  </footer>
</body>
</html>
